#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/*
 * DIAGNOSTIC KEYMAP: 98 positions (7 rows x 14 cols), all &none so nothing
 * gets typed. Key positions are read from the USB log lines
 * "Sending event at ROW,COL state on".
 */

/ {
    keymap {
        compatible = "zmk,keymap";

        diag_layer {
            bindings = <
&none &none &none &none &none &none &none    &none &none &none &none &none &none &none
&none &none &none &none &none &none &none    &none &none &none &none &none &none &none
&none &none &none &none &none &none &none    &none &none &none &none &none &none &none
&none &none &none &none &none &none &none    &none &none &none &none &none &none &none
&none &none &none &none &none &none &none    &none &none &none &none &none &none &none
&none &none &none &none &none &none &none    &none &none &none &none &none &none &none
&none &none &none &none &none &none &none    &none &none &none &none &none &none &none
            >;
        };
    };
};
